@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#index-body {
  scroll-snap-type: y mandatory;
}

h1 {
  display: block;
  position: absolute;
  visibility: hidden;
}

#index-header {
  display: grid;
  height: 100vh;
  scroll-snap-align: start;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: linear-gradient(to bottom, transparent 15vh, black 50vh);
}

.section-logo {
  display: grid;
  height: 20vh;
  width: 100%;
}
.section-logo .div-logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
}
.section-logo .div-logo img {
  height: 30%;
}
.section-logo .div-logo .logo-centro {
  grid-area: 1/2/2/3;
}
.section-logo .div-logo .logo-eco-1 {
  grid-area: 1/1/2/2;
}
.section-logo .div-logo .logo-eco-2 {
  grid-area: 1/3/2/4;
}

.section-navbar {
  display: grid;
  grid-area: 2/1/2/1;
}
.section-navbar .navbar {
  justify-content: space-around;
  padding: 0;
}
.section-navbar .navbar .lista-navbar {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-size: 8px;
}
.section-navbar .navbar .lista-navbar li {
  display: grid;
  border-color: black;
  border-radius: 2px 40%;
  border-style: outset;
  height: 3rem;
  align-items: center;
  text-align: center;
  width: 15%;
  z-index: 999;
}
.section-navbar .navbar .lista-navbar li a {
  display: block;
  text-decoration: none;
  color: black;
}

#item-inicio {
  background-color: #f58220;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#item-inicio:hover {
  background-color: white;
}

#item-menu {
  background-color: #a86615;
}
#item-menu:hover {
  background-color: white;
}

#item-delivery {
  background-color: #aa2e31;
}
#item-delivery:hover {
  background-color: white;
}

#item-novedades {
  background-color: #d7d1c4;
}
#item-novedades:hover {
  background-color: white;
}

#item-nosotros {
  background-color: #407dbf;
}
#item-nosotros:hover {
  background-color: white;
}

#item-contacto {
  background-color: #4cb58e;
}
#item-contacto:hover {
  background-color: white;
}

.section-carousel {
  grid-area: 3/1/3/1;
  display: grid;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section-carousel #carouselExampleSlidesOnly .carousel-inner {
  height: 100%;
}
.section-carousel #carouselExampleSlidesOnly .carousel-inner .carousel-item {
  height: 70vh;
}

#index-main {
  display: grid;
  top: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom, black 0vh, #f58220 100vh);
}

.menu-media {
  display: grid;
  scroll-snap-align: start;
  height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.menu-media .div-simple {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}
.menu-media .div-simple a {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20%;
  z-index: 999;
}
.menu-media .div-simple img {
  height: 6rem;
}

.div1 {
  grid-area: 1/1/3/7;
  background-color: #25d366;
}

.div2 {
  grid-area: 3/1/5/4;
  background-color: #f66603;
}

.div3 {
  grid-area: 3/4/5/7;
  background-color: #407dbf;
}

.div4 {
  grid-area: 5/1/7/7;
  background-color: #d7d1c4;
}

#div4-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
#div4-sub a {
  position: relative;
  height: auto;
  width: auto;
  z-index: 999;
}
#div4-sub #logo-moto {
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
#div4-sub .logos-delivery {
  visibility: hidden;
  transition: rotate(0deg) 0.4s ease-in-out;
}
#div4-sub:hover #logo-moto, #div4-sub:active #logo-moto {
  transform: rotate(500deg);
  opacity: 0;
  height: 0rem;
}
#div4-sub:hover .logos-delivery, #div4-sub:active .logos-delivery {
  visibility: visible;
  transition: rotate(-360deg) 0.4s ease-in-out;
}

#index-footer section {
  background-image: linear-gradient(to bottom, #f58220 0vh, white 100vh);
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  padding-top: 1rem;
  display: grid;
  position: absolute;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
#index-footer section .div-iframe {
  grid-area: 1/3/4/11;
}
#index-footer section .div-iframe iframe {
  position: relative;
  width: 100%;
  height: auto;
}
#index-footer section .div-info {
  grid-area: 5/2/9/12;
  display: flex;
  position: relative;
  justify-content: space-around;
}
#index-footer section .div-info .span-bondi {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
#index-footer section .div-info .span-bondi ul {
  display: block;
  height: 100%;
  text-align: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}
#index-footer section .div-info .span-bondi ul li {
  text-align: center;
  height: auto;
}

#menu-body {
  background-image: linear-gradient(to bottom, white 50vh, black 100vh);
  background-repeat: no-repeat;
}

#menu-header {
  display: block;
  flex-direction: row;
}
#menu-header .menu-section-logo {
  height: 20vh;
  position: relative;
}
#menu-header .menu-section-navbar {
  height: 10vh;
  position: relative;
}

#menu-main {
  height: 70vh;
  bottom: 0;
}
#menu-main h2 {
  text-align: center;
  padding-top: 1rem;
  margin: 0;
}

#section-cards {
  display: grid;
  text-align: center;
  height: 85%;
  width: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
  z-index: 0;
}

.div-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(97, 97, 97);
  border-radius: 10%;
  overflow: hidden;
}
.div-card p {
  margin: 0;
}
.div-card img {
  object-fit: cover;
  height: 100%;
}
.div-card:hover, .div-card:active {
  position: absolute;
  width: 100%;
  height: 20%;
}
.div-card:hover img, .div-card:active img {
  height: 100%;
  width: 100%;
  animation: fadeIn 0.5s ease-in-out;
}

.div-milanesa {
  grid-area: 2/2/4/5;
}

.div-hamburguesa {
  grid-area: 5/2/7/5;
}
.div-hamburguesa:hover {
  bottom: 50vh;
  z-index: 999;
}

.div-churrasco {
  grid-area: 8/2/10/5;
}
.div-churrasco:hover {
  bottom: 2rem;
  z-index: 999;
}

.div-baguette {
  grid-area: 2/6/4/9;
}

.div-nuggets {
  grid-area: 5/6/7/9;
}

.div-calzones {
  grid-area: 8/6/10/9;
}
.div-calzones img {
  height: 150%;
  transform: rotate(90deg);
}
.div-calzones:hover {
  bottom: 2rem;
  z-index: 999;
}

#novedades-body {
  background-image: linear-gradient(to bottom, white 50%, black 100%);
  background-repeat: no-repeat;
}

#novedades-header,
#novedades-main,
#novedades-footer {
  height: 50vh;
  width: 100%;
  text-align: center;
}

#novedades-header h2 {
  padding-top: 4rem;
  font-size: 10px;
}

#novedades-main {
  display: flex;
  height: 100%;
  width: 100%;
}

.contenido {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2rem;
  width: 30vh;
  height: 50vh;
}

#nosotros-body {
  background-color: #a86615;
}

#nosotros-header h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  font-weight: 900;
}

#nosotros-main p {
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  margin: 2rem;
  border-style: dotted;
  border-radius: 10px;
  padding: 0.5rem;
}

#nosotros-footer div img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#contacto-header h2 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 900;
  border-style: double;
}

#contacto-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 3rem;
}
#contacto-main form {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #898989;
  width: 85%;
  padding: 1rem;
}
#contacto-main form label input {
  display: block;
  width: 50%;
  padding: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
