.lista-navbar li a{
    @media (min-width: 577px){
        font-size: 100%;
        font-weight: 500;
    }
    @media (min-width: 769px){
        font-size: 130%;
        font-weight: 700;
    }
    @media (min-width: 993px){
        font-size: 150%;
        font-weight:900;
    }
}

.section-carousel .carousel-inner .carousel-item {
    @media (min-width: 577px){
        width: 200rem;
    }
    @media (min-width: 769px){
        width: 250rem;
        
    }
    @media (min-width: 993px){
        width: 300rem;

    }
}



