#novedades-body {
    background-image: linear-gradient(to bottom, white 50%, black 100%);
    background-repeat: no-repeat;
}

#novedades-header,
#novedades-main,
#novedades-footer {
    height: 50vh;
    width: auto;
    text-align: center;
}


#novedades-header {
    h2 {
        padding-top: 4rem;
        font-size: 100px;
    }
}

#novedades-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.contenido {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2rem;
    width: 30vh;
    height: 50vh;
}