html {
    scroll-snap-type: y mandatory;
}

header {
    display: block;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    bottom: 0;

    background-image: linear-gradient(to bottom, transparent 15vh, black 50vh);
}

.section-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4vh;

    img {
        padding-top: 2.5rem;
        width: 70%;
        justify-content: center;
    }
}

.section-navbar {
    display: block;
    position: relative;
    width: 100%;

    .navbar {
        .lista-navbar {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            width: 100%;
            height: 3rem;
            margin: 0;
            padding: 0;
            font-size: 8px;

            li {
                display: grid;
                position: static;
                border-color: black;
                border-radius: 2px 40%;
                border-style: outset;
                height: 3rem;
                align-items: center;
                text-align: center;
                width: 15%;

                a {
                    display: block;
                    text-decoration: none;
                    color: black;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }
}

#item-inicio {
    background-color: #f58220;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#item-menu {
    background-color: #a86615;
}

#item-delivery {
    background-color: #aa2e31;
}

#item-novedades {
    background-color: #d7d1c4;
}

#item-nosotros {
    background-color: #407dbf;
}

#item-contacto {
    background-color: #4cb58e;
}


.section-carousel {
    width: 90vw;
    bottom: 0;

    div {
        position: relative;
        bottom: 0;
        height: 50vh;

        img {
            position: relative;
            bottom: 0;
        }
    }
}

main {
    display: grid;
    top: 0;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;


    background-image: linear-gradient(to bottom, black 0vh, #f58220 100vh);
}

.menu-media {
    display: grid;
    position: relative;
    align-items: center;

    height: 100vh;

    padding-top: 1rem;
    padding-bottom: 1rem;

    grid-template-columns: 6, 1fr;
    grid-template-rows: 6, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    justify-content: space-around;

    div {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 25vh;

        img {
            display: flex;
            height: 5rem;
        }
    }
}

.div1 {
    grid-area: 1 / 1 / 2 / 6;
    background-color: #407dbf;
}

.div2 {
    grid-area: 3 / 1 / 4 / 3;
    background-color: #4cb58e;
}

.div3 {
    grid-area: 3 / 4 / 4 / 6;
    background-color: #a86615;
}

.div4 {
    grid-area: 5 / 1 / 6 / 6;
    background-color: #d7d1c4;
}

footer {
    background-image: linear-gradient(to bottom, #f58220 0vh, white 100vh);
    display: block;
    position: relative;
    top: 0;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.arrow-nav-home {
    display: flex;
    justify-content: center;
    bottom: 0;
}